#featured_img {
  display: block;
  max-width: 1166px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 585px;
}

#content {
  max-width: 900px;
  width: 100%;
  margin-bottom: 180px;
}

#content h2,
#content p,
#content ul,
#content ol {
  margin-bottom: 20px;
}

#content h2 {
  font-family: 'Yeseva One';
  font-size: 24px;
}

#content ol {
  padding-left: 15px;
}

#content li {
  margin-bottom: 15px;
}

#content ul > li {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

#content ul > li:before {
  content: '';
  width: 7px;
  height: 7px;
  background-color: #131313;
  border-radius: 100px;
  margin-top: 7px;
  margin-right: 15px;
}

#content ul > li span {
  width: 95%;
}

#content ul > :last-child,
#content ol > :last-child {
  margin-bottom: 0px;
}

@media(max-width:1366px) {

  #content {
    max-width: 65.886vw;
    margin-bottom: 13.177vw;
  }

  #content .featured_img {
    margin-bottom: 1.464vw;
  }
  
  #content h2,
  #content p,
  #content ul,
  #content ol {
    margin-bottom: 1.464vw;
  }
  
  #content h2 {
    font-size: 1.757vw;
  }
  
  #content ol {
    padding-left: 1.098vw;
  }
  
  #content li {
    margin-bottom: 1.098vw;
  }
  
  #content ul > li:before {
    width: 0.512vw;
    height: 0.512vw;
    border-radius: 7.321vw;
    margin-top: 0.512vw;
    margin-right: 1.098vw;
  }
}

@media(max-width:780px) {

  #featured_img {
    max-width: 149.487vw;
    margin-bottom: 2.564vw;
    height: 75vw;
  }

  #content {
    max-width: 115.385vw;
    margin-bottom: 23.077vw;
  }

  #content .featured_img {
    margin-bottom: 2.564vw;
  }
  
  #content h2,
  #content p,
  #content ul,
  #content ol {
    margin-bottom: 2.564vw;
  }
  
  #content h2 {
    font-size: 3.077vw;
  }
  
  #content ol {
    padding-left: 1.923vw;
  }
  
  #content li {
    margin-bottom: 1.923vw;
  }
  
  #content ul > li:before {
    width: 0.897vw;
    height: 0.897vw;
    border-radius: 12.821vw;
    margin-top: 0.897vw;
    margin-right: 1.923vw;
  }
}